body {
    font-family: Arial, sans-serif;
    background-color: #f4f9f4;
    margin: 0;
    padding: 0;
}
.imagem-centralizada {
    text-align: center;
    margin: 20px 0;
  }
  
  .imagem-responsiva {
    max-width: 100%;
    height: auto;
    width: 700px; /* ou ajuste para o tamanho ideal */
    border-radius: 6px; /* opcional: cantos arredondados */
  }
  
header {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}
header p {
    font-size: 2.0em;
}
nav {
    background-color: #a5d6a7;
    padding: 10px;
      text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #1b5e20;
    font-weight: bold;
}
section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
.imagem-sobre {
    width: 100%;     /* ou 100% para responsiva */
    height: auto;     /* mantém proporção */
    display: block;
    margin: 20px auto; /* centraliza a imagem */
    border-radius: 10px; /* opcional: cantos arredondados */
  }
  .img-problema {
    width: 400px;         /* ou 100% para responsivo */
    height: auto;         /* mantém proporção */
    display: block;       /* evita espaços em linha */
    margin: 10px auto;    /* centraliza a imagem e dá espaçamento */
    border-radius: 8px;   /* opcional: cantos arredondados */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* sombra leve opcional */
  }
  
  
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}